/*
************************************************
*  Core
************************************************* */

/* changed font color */
body {
  font-family: inherit;
  font-size: 1rem;
  line-height: inherit;
  color: #685b5e;
  background-color: {{ .Get "background" }};
  margin-top: 70px; /* Offset body content by navbar height. */
  padding-top: 0;
  counter-reset: captions;
}

/* added rounded corner, and padding */
pre,
code {
  font-family: '{{ .Get "mono_font" }}', monospace;
  color: #c7254e;
  background-color: #f9f2f4;
  border: 0px solid #f9f2f4;
  border-radius: 5px;
  padding: 3px;
  /* border-width: 0.5px 0.5px 1.5px 0.5px */
}



figcaption {
  display: inline;
  margin-top: 0.75em;
  line-height: 1.25;
  font-size: 0.75rem;
  font-style: normal;
  margin-bottom: 1.65rem;
  font-family: '{{ .Get "heading_font" }}', sans-serif;
  text-align: center;
}

figcaption h4 {
  display: inline;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
